.map-info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.map-container {
    width: 100%; 
    height: 500px
}

.map-legend {
    line-height: 15px;
    color: #555;
}
.map-legend i {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 8px;
    opacity: 1.0;
}

.map-legend h3 {
    margin-top: 10px;
    font-weight: bold;
}

.map-spreadsheet {
    font: 10px Arial, Helvetica, sans-serif;
    width: 100%;
    height: 200px;
    overflow: scroll;
    border: 1px
}

.map-spreadsheet th {
    font-weight: bold;
    background-color: #eee
}